*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 230, 207);
  width: 100vw;
}

.navbar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.navbar{
  display: flex;
  justify-content: space-between;
  width: 70vw;
}

.navbar-logo{
  height: 60px;
  image-rendering: crisp-edges;
}

.menu-bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40vw;
  list-style: none;
}

.menu-button{
  border: 0;
  background-color: rgba(0,0,0,0);
  color: rgb(88, 62, 32);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

.dropdown{
  position: absolute;
  display: none;
  top: 50px;
  flex-direction: column;
  background-color: white;
  list-style: none;
  border-radius: 5px;
  width: 220px;
  padding: 10px;
  gap: 10px;
  z-index: 1;
}

.dropdown.show{
  display: flex;
}

.dropdown-item{
  border: 0;
  color: black;
  background-color: rgba(0,0,0,0);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.65rem;
  cursor: pointer;
}

.cart-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-widget{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 53px;
  background-image: url("img/cart-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  user-select: none;
  text-decoration: none;
}

.homeContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 50px;
}

.mainLogo{
  margin-top: 50px;
  width: 400px;
}

.footer{
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: goldenrod;
  font-size: x-large;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  width: 100vw;
  height: 200px;
  user-select: none;
}

@media (prefers-reduced-motion: no-preference) {
  .mainLogo {
    animation-name: mainLogoSpin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}

@keyframes mainLogoSpin {
  0% {
    transform: scaleX(0);
  }
  25% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  75% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(0);
  }
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.menuBar{
  height: fit-content;
  width: 900px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  user-select: none;
}

.welcomeHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left, rgba(0, 255, 115, 0.25), rgba(212, 0, 255, 0.1), rgba(255, 0, 0, 0.25)), url("../public/img/joker-van-gogh.png");
  background-size: cover;
  height: 300px;
  width: 100vw;
  gap: 1rem;
}

.buyHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left, rgba(0, 255, 115, 0.25), rgba(212, 0, 255, 0.1), rgba(255, 0, 0, 0.25)), url("../public/img/gradient.png");
  background-size: cover;
  height: 150px;
  width: 100vw;
  gap: 1rem;
}

.detailHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left, rgba(0, 255, 115, 0.25), rgba(212, 0, 255, 0.1), rgba(255, 0, 0, 0.25)), url("../public/img/colorful_lion.png");
  background-size: cover;
  height: 150px;
  width: 100vw;
  gap: 1rem;
}

.cartHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left, rgba(0, 255, 115, 0.25), rgba(212, 0, 255, 0.1), rgba(255, 0, 0, 0.25)), url("../public/img/catrina.png");
  background-size: cover;
  height: 150px;
  width: 100vw;
  gap: 1rem;
}

.welcomeText{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 3px 3px 3px #000000;
  user-select: none;
  font-size: 2rem;
}

.buyText{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 3px 3px 3px #000000;
  user-select: none;
  font-size: 3rem;
}

.catalogContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px;
  width: 900px;
  height: fit-content;
}

.categoryContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 80vw;
  height: fit-content;
}

.categoryText{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  color: rgb(80, 80, 80);
  user-select: none;
  font-size: 2rem;
}

.productsContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: fit-content;
}

hr{
  width: 900px;
}

#chunkyPuzzles{
  font-size: 3rem;
  font-weight: 700;
}

#productContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: rgb(230, 230, 230);
  height: fit-content;
  width: fit-content;
  padding: 10px;
  gap: 10px;
  border-color: rgb(90, 90, 90);
  border-style:solid;
  border-width: 2px;
  border-radius: 5px;
  user-select: none;
}

#prodDescCont{
  display: flex;
  justify-content: center;
}

#prodDescList{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 0.85rem;
  gap: 5px;
  text-transform: uppercase;
  list-style: none;
}

#prodTitle{
  font-size: 1.25rem;
}

#prodAction{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.addToCartButton{
  font-size: 0.65rem;
  width: 200px;
  height: 30px;
  text-transform: uppercase;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  font-weight: 600;
}

.cartContainer{
  display: flex;
  justify-content: center;
  width: 80vw;
  padding: 20px;
  gap: 20px;
}

.cartItemContainer{
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  gap: 10px;
}

.cartItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(230, 230, 230);;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 5px;
  gap: 10px;
  height: fit-content;
}

.cartItem img{
  height: 80px;
}

.cartItem p{
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
}

.cartItem ul{
  text-transform: uppercase;
  font-size: 0.85rem;
  list-style: none;
}

.cartQtyCont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cartModify{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cartModify button{
  font-size: 1rem;
  height: 30px;
  width: 30px;
  text-transform: uppercase;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  font-weight: 700;
}

.cartRemove button{
  font-size: 0.65rem;
  height: 30px;
  width: 90px;
  text-transform: uppercase;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  font-weight: 600;
}

.cartDetailContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  height: fit-content;
  border: 2px solid grey;
  border-radius: 5px;
  background-color: rgb(252, 247, 221);
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  line-height: 2rem;
  font-weight: 600;
}

.cartDetailContainer p{
  font-size: 1rem;
  white-space: nowrap;
}

.cartDetailContainer ul{
  list-style: none;
  font-size: 0.75rem;
  font-weight: 400;
  white-space: nowrap;
  text-align:end;
}

.cartDetailContainer button{
  text-transform: uppercase;
  font-size: 0.85rem;
  padding: 5px 15px 5px 15px;
}

#cartDescCont{
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 40px;
}

#cartItmQty{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  border: 1px solid gray;
  width: 30px;
  height: 30px;
}

#cartDetailMessage{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.cartMessage{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(80, 80, 80);
  margin-top: 80px;
}

.itemDetailContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  width: 70vw;
  gap: 20px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
}

.itemDetailContainer button{
  height: 30px;
  width: 200px;
  text-transform: uppercase;
  font-weight: 600;
}

.itemDetailContainer form{
  display: flex;
  gap: 30px;
  font-weight: 400;
}

.itemDescriptionContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  padding: 20px;
  line-height: 2rem;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(50, 50, 50);
  border-style: solid;
}

.itemDescriptionContainer ul{
  list-style: none;
  text-align: center;
  padding: 20px;
  font-size: 1.3rem;
}

.itemDescriptionContainer p{
  padding: 20px;
}

.loadingMessage{
  margin-top: 50px;
  font-size: 2rem;
  color: rgb(80, 80, 80);
}